:root {
    --check-size:200px;
    --check-border-width: 5px;
    --checkmark-width : calc(var(--check-size)/ 2);
    --checkmark-height : calc(var(--checkmark-width) / 2);
    --checkmark-left: calc(var(--checkmark-width) / 2);
    --checkmark-top: 50%;
    --checkmark-color: #19b8a2;
}

body {
    margin: 0;
    line-height: 0;
    font-family: 'Open Sans';
}

p {
    font-family: Lora;
}

.hidden {
    display: none;
}

.main {
    background-image: url('../altumcode-XMFZqrGyV-Q-unsplash.jpg');
    width: 100%;
    height: 35em; 
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    padding-top: 28px;
    align-items: center;
    justify-content: center;
}
.nav-content {
    font-size: 1.3rem;
    font-family: 'Playfair Display', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 24px;
    color: rgba(255, 255, 255, 0.877);
}

.main-content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#heading1 {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.996);
}

#intro {
    font-size: 1.2rem;
    font-family: 'Playfair Display','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom:32px;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.994);
}

#upper-btn {
    display: flex;
    justify-content: center;
}

#contact-btn {
    background-color: rgb(138, 78, 138);
    width: 12rem;
    height: 3rem;
    margin-right: 30px;
    border-radius: 10px;
    font-size: medium;
    transition: background-color 0.5s ease;
    color: white;
}
#resume-btn {
    background-color: transparent;
    width: 12rem;
    height: 3rem;
    border-radius: 10px;
    font-size: medium;
    transition: background-color 0.5s ease;
    color: white;
}

#resume-btn:hover {
    background-color: aquamarine;
}

#contact-btn:hover {
    background-color: transparent;
}

.row {
    padding-top: 50px;
}


.image {
    width: 300px;
}

#heading2, #heading3, #heading4 {
    font-family: 'Playfair Display', Verdana, Geneva, Tahoma, sans-serif;
}

.about-content {
    font-family: 'Lora';
}

.content {
    display: flex;
    justify-content: center;
}


.skill-img {
    height:80px;
    width:100px
}

.card-btn {
    background: transparent;
    border: none;
}

.ms-custom {
    margin-left: 5rem;
}

.btn {
    width: 8rem;
}

.form {
    display: block;
}


@media screen  and (max-width:480px) {
    #heading1 {
        font-size: 2rem;
    }
    #contact-btn, #resume-btn {
        width: 7.5rem;
        height: 3rem;
    }

    .skill-img {
        height: 25px;
        width: 37px;
    }
    .image {
        width: 200px;
    }
    #resume-btn {
        background-color:  #B2BEB5;
    }
}

.checkmark-wrapper {
    width: var(--check-size);
    height: var(--check-size);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.checkmark-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    border: var(--check-border-width) solid #f8f8f8;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    z-index: 0;
}

.checkmark-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    border: var(--check-border-width) solid transparent;
    border-left-color: var(--checkmark-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    z-index: 1;
    animation: circle linear forwards .75s ;
}

@keyframes circle {
    0% {
        border-color: transparent;
        border-left-color: var(--checkmark-color);
    }
    90% {
        transform: rotate(-360deg);
        border-color: transparent;
        border-left-color: var(--checkmark-color);
    }
    100% {
        transform: rotate(-360deg);
        border-color: var(--checkmark-color);
    }
}

.checkmark {
    height: var(--checkmark-height);
    width: var(--checkmark-width); 
    position: absolute;
    left: var(--checkmark-left);
    top: var(--checkmark-top);
    display: block;
    border-left: var(--checkmark-width) solid var(--checkmark-color);
    border-bottom: var(--checkmark-width) solid var(--checkmark-color);
    transform: rotate(-45deg);
    transform-origin: left top;
    opacity: 0;
    animation: checkmark linear both 1s;
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 0;
    }
    80% {
        height: 0;
        width: 0;
        opacity: 0;
    }
    90% {
        height: var(--checkmark-height);
        width: 0;
        opacity: 1;
    }
    100% {
        height: var(--checkmark-height);
        width: var(--checkmark-width);
        opacity: 1;
    }
}

footer {
    width: 100%;
    height: 4rem;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    font-size: 2rem;
    padding-right: 21px;
    margin-top: 25px;
}